<div>
  <h2 id="page-heading" data-cy="EffectsHeading">
    <span jhiTranslate="labeledJewelryApp.effects.home.title">Effects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="labeledJewelryApp.effects.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-effects"
        [routerLink]="['/effects/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="labeledJewelryApp.effects.home.createLabel">Create a new Effects</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (effects?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="labeledJewelryApp.effects.home.notFound">No Effects found</span>
    </div>
  }

  @if (effects && effects.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="effect">
              <div class="d-flex">
                <span jhiTranslate="labeledJewelryApp.effects.effect">Effect</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="effects.id">
              <div class="d-flex">
                <span jhiTranslate="labeledJewelryApp.effects.effects">Effects</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (effects of effects; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/effects', effects.id, 'view']">{{ effects.id }}</a>
              </td>
              <td>{{ effects.effect }}</td>
              <td>
                @for (effects of effects.effects; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/material-side-effects', effects.id, 'view']">{{ effects.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/effects', effects.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/effects', effects.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(effects)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
